---
import GMAIL from "@/assets/Icons/gmail.svg";
import GITHUB from "@/assets/Icons/github.svg";
import EMMA from "@/assets/images/emma-transparent.png"
---

<footer class="layout-basic-style py-6">
    <div class="text-footer flex flex-col items-center justify-center gap-3">
        <p class="text-lg flex text-[rgba(89,89,89)] items-end gap-2">© 2025 - 2026 
            <span class="text-rainbow">HexCss's Blog</span> 
            <img src={EMMA.src} class="rounded-[50%] w-8 h-8 animate-pulse" alt="">
            All rights reserved.</p>
        <p >许可：除非另有声明，本站内容与代码均采用
            <a class="footer-link" href="https://github.com/AsahinaMafuuyuu/Mnemosyne-Archive/blob/master/LICENSE" target="_blank"> MIT License</a>发布。
        </p>
        <p>灵感来源：非常感谢B站
            <a href="https://space.bilibili.com/701864046" class="footer-link" target="_blank">松坂有希</a>开源的
            <a href="https://github.com/saicaca/fuwari" class="footer-link" target="_blank">Fuwari</a>项目（本站的模板和美术设计均取自该项目）
        </p>
        <p>同时设计灵感也采自
            <a href="https://space.bilibili.com/10730895" class="footer-link" target="_blank">余弦Cocos</a>大佬的
            <a href="https://ysx.cosine.ren/" class="footer-link" target="_blank">余弦の博客</a>项目
        </p>
        <p>技术实现思路参考
            <a href="https://space.bilibili.com/325903362" class="footer-link" target="_blank">二叉树树</a>大佬
            <a href="https://2x.nz/" class="footer-link" target="_blank">AcoFork</a>博客中的相关技术实现
        </p>
        <p>
            免责声明：本站内容仅供学习交流，不构成任何形式的专业建议；使用本站内容造成的损失本站不承担责任。
        </p>
        <p class="flex items-center gap-2">
            联系我：
            <a href="mailto:3366203917@qq.com" class="link-container p-2 mb-1"> <GMAIL class="md-icon-basic-style"/></a> 
            <a href="https://github.com/AsahinaMafuuyuu" class="link-container p-2"> <GITHUB class="md-icon-basic-style"/></a>
        </p>
        <p>
            本站可能使用第三方服务（如评论、统计、CDN）以改善体验；详情见
            <a href="https://github.com/AsahinaMafuuyuu/Mnemosyne-Archive/blob/master/privacy.md" class="footer-link" target="_blank">《隐私政策》。</a>
        </p>
        <p>链接：
            <a class="footer-link" href="/about" >关于</a> / 
            <a class="footer-link" href="" >归档</a> / 
            <a class="footer-link" href="/label">标签</a> / 
            <a class="footer-link" href="" target="_blank">RSS</a> / 
            <a class="footer-link" href="">站点地图</a>
        </p>

</footer>
