---
import Profile from "./Profile.astro";
import LinkNav from "./link-nav.astro";
import PaperInfo from "./PaperInfo.astro";
---

<div class="sticky top-0 flex flex-col justify-center items-center gap-2 layout-basic-style py-4">
    <Profile />
    <LinkNav />
    <PaperInfo />
</div>
