---
import GithubIcon from "@/assets/Icons/github.svg";
import BilibiliIcon from "@/assets/Icons/bilibili.svg";
import QQIcon from "@/assets/Icons/qq.svg";
import MajIcon from "@/assets/Icons/majsoul.svg"
import TwitterIcon from "@/assets/Icons/twitter.svg"
import LOLIcon from "@/assets/Icons/lol.svg"
import MiHoYoIcon from "@/assets/Icons/mihoyo.svg"
---

<div class="flex gap-1 flex-wrap items-center justify-center">
    <a
        href="https://github.com/AsahinaMafuuyuu"
        target="_blank"
        class="p-2 link-container"
    >
        <GithubIcon class="w-5 h-5" />
    </a>

    <a
        href="https://space.bilibili.com/350179372?spm_id_from=333.1007.0.0"
        target="_blank"
        class="p-2 link-container"
    >
        <BilibiliIcon class="w-5 h-5" />
    </a>
    <a href="https://qm.qq.com/q/4ew6RfsW92"
        target="_blank"
        class="p-2 link-container"
    >
        <QQIcon class="w-5 h-5"/>
    </a>
    <a href="https://x.com/FE_Devotee"
        target="_blank"
        class="p-2 link-container"
    >
        <TwitterIcon class="w-5 h-5"/>
    </a>

    <a href="https://amae-koromo.sapk.ch/player/9505407/12"
        target="_blank"
        class="p-2 link-container"
    >
        <MajIcon class="w-5 h-5"/>
    </a>

    <a href="https://sqgg.cc/summoner/%E8%89%BE%E6%AC%A7%E5%B0%BC%E4%BA%9A?gameName=%E5%86%8D%E7%94%9C%E4%B8%8D%E8%BF%87%E5%BD%A9%E5%8D%83%E5%9C%A3&tagLine=21973"
        target="_blank"
        class="p-2 link-container"
    >
        <LOLIcon class="w-5 h-5"/>
    </a>

    <a href="https://www.miyoushe.com/bh3/accountCenter/replyList?id=13536269"
        target="_blank"
        class="p-2 link-container"
    >
        <MiHoYoIcon class="w-5 h-5"/>
    </a>
</div>
