---
import GithubIcon from "@/Icons/github.svg";
import BilibiliIcon from "@/Icons/bilibili.svg";
import QQIcon from "@/Icons/qq.svg";
import MajIcon from "@/Icons/majsoul.svg"
---

<div class="flex gap-1">
    <a
        href="https://github.com/AsahinaMafuuyuu"
        target="_blank"
        class="p-2 link-container"
    >
        <GithubIcon class="w-5 h-5" />
    </a>

    <a
        href="https://space.bilibili.com/350179372?spm_id_from=333.1007.0.0"
        target="_blank"
        class="p-2 link-container"
    >
        <BilibiliIcon class="w-5 h-5" />
    </a>
    <a href="https://qm.qq.com/q/4ew6RfsW92"
        target="_blank"
        class="p-2 link-container"
    >
        <QQIcon class="w-5 h-5"/>
    </a>
    <a href="https://amae-koromo.sapk.ch/player/9505407/12"
        target="_blank"
        class="p-2 link-container"
    >
        <MajIcon class="w-5 h-5"/>
    </a>
</div>
