---
import Kanade from "@/assets/images/kanade.png"
---
<div class="flex flex-col justify-center items-center gap-3 pt-1">
    <img src={Kanade.src} alt="个人头像" class="min-w-50 w-50 h-50 object-cover rounded-[50%]">
    <!-- 个人信息展示 -->
     <span class="text-bold-body">Asahina Mafuyu</span>
     <span class="text-caption">Random create infinite possibility</span>
</div>