---
import SingleBlog from "./SingleBlog.astro";
const allPosts = import.meta.glob('@/pages/posts/*.md', {eager: true});
---

<div data-ui="blog-list-container"
    class="flex flex-col gap-5">
    <!-- 动态生成所有文章 -->
    {Object.entries(allPosts).map(([path, mod]:[string, any])=>{
        const mdUrl = path.split('/').at(-1)!.replace('.md', '')
        const params = {
            url: mdUrl,
            frontmatter: mod.frontmatter
        }
        return <SingleBlog params={params}/>
    })}
</div>
<script>
    const blogListContainer: HTMLElement = document.querySelector(
        '[data-ui="blog-list-container"]',
    ) as HTMLElement;

    // 重新加载博客内容
    function reloadBlogList() {}
</script>
