---
import SingleBlog from "./SingleBlog.astro";
const { params } = Astro.props as { params:any }
---
   
<div data-ui="blog-list-container"
    class="flex flex-col gap-5">
    <!-- 动态生成所有文章 -->
    {params.map((item:any)=>{
        return <SingleBlog params={item}/>
    })}

    <!-- <div>{params.forEach((item)=> {
        return {item}
    })}</div> -->
</div>
<script>
    const blogListContainer: HTMLElement = document.querySelector(
        '[data-ui="blog-list-container"]',
    ) as HTMLElement;

    // 重新加载博客内容
    function reloadBlogList() {
        
    }
</script>
