---
import NoticeMessage from "./NoticeMessage.astro";
import BlogList from "./BlogList.astro";
import PageManagement from "./PageManagement.astro";

const { params, pageScrollParams } = Astro.props;
---

<div class="flex w-full flex-col gap-5">
   <!-- 公告消息 -->
   <NoticeMessage />

   <!-- 文章列表 -->
   <BlogList params={params} />

   <!-- 翻页条 -->

   <PageManagement params={pageScrollParams} />
</div>
