---
import Notice from "@/assets/Icons/notice.svg";
---

<div class="w-full h-fit py-4 px-6 layout-basic-style flex gap-3 bg-[">
    <Notice class="w-6 h-6 text-blue-700"/>
    <span>我今天打了一胶！</span>
</div>
