/* 定义暗色主题的相关元素 */
@custom-variant dark (&:where(.dark, .dark *));

@utility link-container {
    @apply relative rounded-lg flex justify-center items-center gap-1 transition-all ease-in-out duration-300 hover:text-body;

    &::before {
        content: '';
        position: absolute;
        background-color: transparent;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        cursor: pointer;
        z-index: 1;
    }

    &:hover {
        background-color: var(--hover-color);
    }
}

/* 创建整个基本容器的相关样式 */
@utility layout-basic-style {
    @apply rounded-lg border border-[rgba(0,0,0,0.05)] shadow-sm bg-(--background-color)
}

/* 可悬停控件样式 */
@layer utilities {
    /* 创建header container的样式 */

    .link-header-nav {
        @apply link-container hover:scale-110;
    }

    .link-anchor-nav {
        @apply link-container
    }

    /* 定义简易控件的交互逻辑 */
    .simp-control-interact {
        @apply relative p-2 rounded-lg transition-colors ease-in-out duration-300 hover:bg-hover-color hover:text-body
    }

    .simp-control-interact::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        cursor: pointer;
    }

    /* 为容器添加border和rounded以及背景色 */

}

/* 创建普通页面浏览时候的viewScrollBar */
@utility base-scroll-bar {
    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-button {
        height: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(120, 120, 120, .6);
        border-radius: 999px;

    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

}

/* 设置模糊滚动条的样式 */
@utility blur-setting-scroll-bar {
    --min: 0;
    --max: 15;
    --val: 0;

    /* 滑过部分高亮 */
    /* 轨道样式设置 */
    &::-webkit-slider-runnable-track {
        height: 20px;
        background: linear-gradient(to right,
                pink 0%,
                pink calc((var(--val) - var(--min)) / (var(--max) - var(--min)) * 100%),
                rgba(0,0,0,.05) calc((var(--val) - var(--min)) / (var(--max) - var(--min)) * 100%),
                rgba(0,0,0,.05) 100%);
        border-radius: 5px;
    }

    /* 滑块样式设置 */
    &::-webkit-slider-thumb {
        width: 6px;
        height: 20px;

        border-radius: 2px;
        background: aqua;

        margin-top:
            /* 居中关键 */
    }
}

/* 设置Blog单个容器的样式 */
@utility single-blog-card-decoration {
    &:hover {
        box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2),
     0 12px 40px rgba(0, 0, 0, 0.08);
    }
    @apply py-3 px-5  rounded-lg shadow-[rgba(0,0,0,.15)];
}

/* 设置常用图标的具体样式 */
@utility md-icon-basic-style {
    @apply w-5 h-5 
}

/* 设置翻页条的相关导航样式 */
@utility blog-nav-icon {
    @apply relative transition-all ease-in-out duration-500 rounded-md w-8 h-8 flex items-center justify-center hover:bg-[rgba(0,0,0,.2)];
    &::before {
        content: '';
        position: absolute;
        background-color: transparent;
        top: 0;
        left: 0;
        cursor: pointer;
        z-index: 1;
    }
}
/* 设置翻页条的span样式 */
@utility span-eli {
    @apply w-8 h-8 inline-block leading-8
}
