/* 该文件主要用于变量名映射注册 */
@theme {
    /* 首先定义字体大小 */
    /* displayHero / 首页大标题 */
    --text-display: calc(1.95*var(--font-size));
    /* headline页面主标题 */
    --text-headline: calc(1.56*var(--font-size));
    /* title卡片 / 模块标题 */
    --text-title: calc(1.25*var(--font-size));
    /* meta时间 / 作者 / 次要信息 */
    --text-meta: calc(0.875*var(--font-size));

    /* 其次定义字体权重（font weight） */
    --font-weight-display: 700;
    --font-weight-title: 500;
    --font-weight-meta: 400;

    /* 定义颜色 */
    --color-background: var(--background-color);
    --color-hover-color: var(--hover-color);
}

/* 定义body正文内容主题类 */
@utility text-body {
    font-size: var(--font-size);;
    font-weight: 400;
    color: var(--font-color);
}

/* 定义字幕专用主题类 */
@utility text-caption {
    font-size: calc(0.75*var(--font-size));
    font-weight: 300;
    color: rgb(163, 163, 163);
}

/* 定义加粗个人信息 */
@utility text-bold-body {
    @apply text-body;
    font-weight: 700;
}

/* 定义博客样式 */
@utility text-blog-title-light {
    font-family: system-ui ;
    font-size: calc(1.75*var(--font-size));
    font-weight: 700;
    color: rgba(0,0,0,0.75)
}
@utility text-blog-title-dark {
    color: rgba(246,246,246,0.75)
}
@utility text-blog-subtract-light {
    font-size: calc(0.9*var(--font-size));
    font-weight: 400;
    color: var(--font-color);
}
@utility text-blog-info {
    font-size: calc(0.9*var(--font-size));
    font-weight: 500;
    color: #00000080;
}
@utility text-footer {
    font-size: calc(0.95*var(--font-size));
    font-weight: 500;
    color: rgba(89, 89, 89, 0.55)
}

/* 设置页脚的链接样式 */
@utility footer-link {
    display: inline-block;
    position: relative;
    color: purple;
    &::before {
        position: absolute;
        bottom: 0px;
        content: "";
        width: 0;
        height:1px;
        background-color: red;
        transition: width ease-in-out 300ms;
    }
    &:hover::before {
        width: 100%;
    }
}
/* 彩虹字体色 */
@utility text-rainbow{
    @apply bg-linear-to-r
  from-pink-500 via-yellow-400 to-violet-600
  bg-size-[200%_100%]
  bg-clip-text text-transparent
  animate-[rainbow_3s_linear_infinite]
}
@keyframes rainbow{
  0%{ background-position: 0% 100%; }
  100%{ background-position: 200% 100%; }
}

