---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<button><a href="/">首页 </a></button>
		<button><a href="/about">关于</a></button>
		<button><a href="/blog">博客</a></button>
		<h1>欢迎来到博客页面</h1>
        <h1>这是我的博客页面，你可以在这里看到我的一些文章</h1>

	</body>
</html>
