---
import BaseLayout from "../layouts/BaseLayout.astro";
import Main from "@/components/MainContentComponents/Main.astro";
import "../output.css";
import { slide } from "astro:transitions";
---

<!-- 首先整理整体的布局 -->
<div class="w-screen h-screen overflow-hidden">
  <BaseLayout>
    <!-- 正文内容 -->

    <Main slot="mainContent" />
  </BaseLayout>
</div>

<script></script>
