---
import AudioPlayerAside from '@/components/AudioPlayerAside.astro'
import "@/output.css";
---

<div>
     <AudioPlayerAside
      className="fixed top-[50px] left-[50px]"
      class=""
      client:load
    />
</div>

