---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
import AudioPlayerAside from "../components/AudioPlayerAside.astro";
import Luna from "../images/luna.jpg";
import "../styles/normalize.css";
// import '../styles/global.css'
import "../output.css";
import Yuki from "../images/Yuki.jpg";

const pageTitle = "愛包ダンスホール";
---

<div class="all-body-container">
  <div
    data-unfold="false"
    data-ui="aside-container"
    class="absolute bottom-10 left-0 flex w-fit"
  >
    <div
      data-covermove="false"
      data-ui="unfold-area"
      class="w-0 relative transition-all duration-1000 ease-in-out unfold:w-[calc(33vw-20px)] bg-amber-200"
    >
    </div>
    <div
        data-ui="aside-folder"
        class="unfold w-5 h-25 bg-[#faf8f8] transition-all duration-1000 ease-in-out flex justify-center items-center border border-[#ccc] border-solid overflow-hidden rounded-r-[5px]"
      >
      </div>
  </div>
</div>

<script>
  const test1:HTMLElement = document.querySelector('[data-ui="aside-container"]') as HTMLElement;
  const test2 = document.querySelector('[data-ui="unfold-area"]');
  const test3:HTMLElement = document.querySelector('[data-ui="aside-folder"]') as HTMLElement;
  console.log(test1)

  test3.addEventListener("click", () => {
    console.log(test1)
    // unfold_area 和 aside_folder
    if (!test3.classList.contains("unfold")) {
      test1.dataset.unfold = "true";

    } else {
      test1.dataset.unfold = "true";
      test3.classList.add("unfold")
    }
  });
</script>
