---
// <!-- 生成小的搜索框 -->
// <!-- 和主题设置那里绑在一起，包括导航栏之类的 -->
import SearchIcon from "@/Icons/search.svg";
---

<div
    class="text-(--font-color) lg:hidden simp-control-interact"
>
    <SearchIcon class="w-6 h-6" />
</div>
