---
import AiPai from "../images/AiPai.webp";
import Header from "@/components/HeaderComponents/Header.astro";
import AsideInfo from "@/components/AsideComponents/AsideInfo.astro";
import Footer from "@/components/FooterComponents/Footer.astro";
import AudioPlayerAside from "@/components/AudioPlayerAside.astro";
import { slide } from "astro:transitions";
import { ClientRouter } from "astro:transitions";
import "../output.css";
const url: string = Astro.url.toString();
---

<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/Icons/WebIcon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:type" content="website"> 
    <meta name="description" content="你好呀陌生人，欢迎来到我的博客！" />
    <meta property="og:site_name" content="HexCss's Blog"/>
    <meta property="og:description" content="你好呀陌生人，欢迎来到我的博客！"> 
    <title>AsahinaMafuyu</title>
    <ClientRouter />
  </head>
  <body transition:animate="none">
    <!-- 页面整体布局 -->
    <div
      data-ui="html-container"
      class="w-screen h-screen bg-cover bg-center bg-no-repeat transition-background-image duration-1000 ease-in-out"
      style="background-image: var(--background-src);"
    >
      <!-- 覆盖一层毛玻璃 -->
      <div
        data-ui="real-visual-container"
        class="h-full w-full bg-[rgba(255,255,255,.36)] backdrop-blur-(--blur-val) flex justify-center overflow-auto base-scroll-bar scroll-smooth"
      >
        <!-- 内容容器 -->
        <!-- 要规定尺寸，大小，展示方式等等 -->
        <div
          data-ui="visual-content-area"
          class="w-full h-full min-w-[320px] max-w-350 px-4 pb-5 grid gap-3 grid-cols-[240px_1fr] grid-rows-[auto_1fr_auto] max-[768px]:grid-cols-[1fr]"
        >
          <!-- 导航栏 -->

          <div class="col-span-1 md:col-span-2 z-999">
            <Header />
          </div>

          <!-- 左侧个人信息栏 -->
          <div class="max-[768px]:hidden">
            <AsideInfo />
          </div>

          <!-- 正文博客内容展示 -->
          <div
            transition:name="mainContent"
            transition:animate="fade"
            class="min-w-0"
          >
            <slot name="mainContent" />
          </div>

          <!-- 底部内容 -->
          <div class="col-span-1 md:col-span-2 mt-5">
            <Footer />
          </div>
        </div>
      </div>
    </div>
    <!-- 小插件 -->
    <AudioPlayerAside transition:persist/>

    <script>
      import { fetchBackgroundImage } from "@/function";
      import { undefined } from "astro:schema";
      //  记录url
      let bgUrl: string;
      function init() {
        // 获取背景图片的容器
        // const bgContainer = document.querySelector(
        //   '[data-ui="html-container"]',
        // ) as HTMLElement;

        async function initBackground() {
          // 如果设置了背景图片，就直接使用，否则就去获取一个随机背景图
          if (
            getComputedStyle(document.documentElement).getPropertyValue(
              "--background-src",
            ) === "none"
          ) {
            bgUrl = await fetchBackgroundImage();
            document.documentElement.style.setProperty(
              "--background-src",
              `url(${bgUrl})`,
            );
          }
        }
        initBackground();
      }

      // 切换路由前需要将Url取出来
      document.addEventListener("astro:before-swap", () => {
        bgUrl = getComputedStyle(document.documentElement)
          .getPropertyValue("--background-src")
          .slice(4, -1)
          .replace(/"/g, "");
      });

      // 路由切换后将之前的Url设置回去
      document.addEventListener("astro:after-swap", () => {
        // 设置background-src的url
        document.documentElement.style.setProperty(
          "--background-src",
          `url(${bgUrl})`,
        );

        // 初始化initTitle
        initTitleScript()
      });

      const originTitle = document.title;
      // 改变title标题
      function initTitleScript() {
        let titleTimeoutId: number | undefined;
        // 如果页面失去聚焦，则修改title
        document.addEventListener("visibilitychange", () => {
          if (document.visibilityState === "hidden") {
            // 清空titleTimeout
            clearTimeout(titleTimeoutId);
            document.title = "¯﹃¯大脑宕机ing...";
          } else {
            document.title = "๑´ڡ`๑欢迎回来，狗修金SAMA~";
            titleTimeoutId = setTimeout(() => {
              document.title = originTitle;
            }, 1500);
          }
        });
      }

      // 如果刷新页面，直接执行 init 函数
      document.addEventListener("DOMContentLoaded", () => {
        init()
        initTitleScript()
        });
    </script>
  </body>
</html>
